.ipynb_checkpoints/*
*.pyc
.idea/*
*.txt
*.json
*.doc
*.docx
*.pdf
*.html
!example/example.pdf
!memory/315b4f4c655530196ef5f4f6f1d1f0b57d24fa2b08ff006c44b535d50499b487.json
!example/example2.pdf
!memory/112972e1ddf5f124b723aa3f32305abc4ab976fc9eb9c139b966400b8ff58c2b.json
!.gitkeep
!requirements.txt
!openai_api_key.txt
testing.ipynb
